In [1]:
#import libraries
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import numpy as np
cols = ["No", "Time_Offset", "Type", "CAN_ID", "Data_Length", 'One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight']

In [2]:
#importing dataset
def Convert_to_df(path):
    if path[-3:] == "trc":
        data_df = Convert_from_trc(path)[17:]
    elif path[-3:] == "txt": 
        data_df = Convert_from_txt(path)[18:]
    else:
        print("Error, not suitable file")
        exit()
    return data_df

In [3]:
def Convert_from_trc(path):
    test = pd.read_csv(path, encoding='cp949', index_col=0)
    b = []
    for i in test.index:
        temp = i.split(" ")
        b.append(list(filter(('').__ne__, temp)))
    final = pd.DataFrame(b, columns = cols)
    return final

In [4]:
#importing dataset
def Convert_from_txt(path):
    test = pd.read_csv(path, encoding='cp949', index_col=0)
    b = []
    for i in test.index:
        temp = i.split("\t")
        b.append(list(filter(('').__ne__, temp)))
    final = pd.DataFrame(b, columns = cols)
    return final

In [5]:
def find_IDs(data_frame):
    temp1 = data_frame["ID"]
    return list(dict.fromkeys(temp1))

In [6]:
def process_can_data(file_name):
    """
    Processes CAN data from a file, calculates time gaps, 
    and returns a DataFrame with the selected columns and a new 'Time_Gap' column.
    
    Args:
        file_name (str): The name of the CAN data file to process.
        
    Returns:
        pd.DataFrame: Processed DataFrame with the specified columns and 'Time_Gap'.
    """
    # Convert the input file into a DataFrame
    data_in_can_normal = Convert_to_df(file_name)
    
    # Select the required columns
    selected_columns = ["Time_Offset", "Type", "CAN_ID", "Data_Length",
                        "One", "Two", "Three", "Four", "Five", "Six", 
                        "Seven", "Eight"]
    data_in_can_normal = data_in_can_normal[selected_columns]
    
    # Calculate the time difference and create the 'Time_Gap' column
    data_in_can_normal["Time_Gap"] = data_in_can_normal["Time_Offset"].astype(float).diff()
    
    return data_in_can_normal

In [7]:
data_in_can_normal = "C:/Users/rezan/Arupreza/Yoonji Paper/Yoonji_Final_Data/SCI_dataset/SCI_dataset/CAN/normal/"
data_in_can_attak = "C:/Users/rezan/Arupreza/Yoonji Paper/Yoonji_Final_Data/SCI_dataset/SCI_dataset/CAN/attack/"

In [8]:
data_in_can_normal_1 = process_can_data(data_in_can_normal + "normal_CAN_data(10min).trc")
data_in_can_normal_1

,Time_Offset,Type,CAN_ID,Data_Length,One,Two,Three,Four,Five,Six,Seven,Eight,Time_Gap
17,7.5,Rx,0350,8,00,2C,84,FF,FF,00,00,A8,NaN
18,10.1,Rx,04F0,8,00,00,BC,00,00,C8,14,00,2.6
19,12.8,Rx,043F,8,0F,47,60,FF,55,00,00,00,2.7
20,15.6,Rx,0510,8,00,00,00,00,04,12,00,00,2.8
21,19.3,Rx,04F2,8,00,00,9E,38,00,00,00,DF,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
185888,600503.3,Rx,0350,8,00,2C,B4,FF,FF,00,00,98,3.8
185889,600508.1,Rx,0510,8,00,00,1B,00,0C,16,00,00,4.8
185890,600510.3,Rx,04F2,8,00,00,EE,38,00,00,00,AA,2.2
185891,600511.7,Rx,043F,8,0F,47,60,FF,55,00,00,00,1.4
185892,600519.5,Rx,04F0,8,00,00,54,00,00,C8,14,00,7.8

In [9]:
data_in_can_fuzz = process_can_data(data_in_can_attak + "CAN_fuzzing_attack(10min).trc")
data_in_can_fuzz

,Time_Offset,Type,CAN_ID,Data_Length,One,Two,Three,Four,Five,Six,Seven,Eight,Time_Gap
17,10.4,Rx,04F0,8,00,00,80,00,00,C8,14,00,NaN
18,13.9,Rx,043F,8,0F,47,60,FF,55,00,00,00,3.5
19,16.1,Rx,0350,8,00,2C,14,FF,FF,00,00,38,2.2
20,17.7,Rx,0120,4,00,00,00,00,None,None,None,None,1.6
21,18.0,Rx,0517,8,00,00,00,00,00,00,00,00,0.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
186575,600581.2,Rx,0690,8,04,00,00,20,80,E0,0C,0C,0.3
186576,600585.0,Rx,043F,8,0F,47,60,FF,55,00,00,00,3.8
186577,600590.0,Rx,0350,8,00,2C,84,FF,FF,00,00,A8,5.0
186578,600590.7,Rx,04F2,8,00,00,3E,38,00,00,00,90,0.7
186579,600596.0,Rx,043F,8,0F,47,60,FF,55,00,00,00,5.3

In [10]:
data_in_can_rep = process_can_data(data_in_can_attak + "CAN_replay_attack(10min).trc")
data_in_can_rep

,Time_Offset,Type,CAN_ID,Data_Length,One,Two,Three,Four,Five,Six,Seven,Eight,Time_Gap
17,10.2,Rx,0350,8,00,2C,54,FF,FF,00,00,78,NaN
18,11.1,Rx,04F0,8,00,00,7E,00,00,C8,14,00,0.9
19,20.9,Rx,043F,8,0F,47,60,FF,55,00,00,00,9.8
20,21.8,Rx,04F2,8,00,00,CE,38,00,00,00,C0,0.9
21,30.2,Rx,0350,8,00,2C,64,FF,FF,00,00,48,8.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
186073,600571.9,Rx,04F2,8,00,00,2E,38,00,00,00,8E,2.0
186074,600573.1,Rx,0120,4,00,00,00,00,None,None,None,None,1.2
186075,600573.4,Rx,0517,8,00,00,00,00,00,00,00,00,0.3
186076,600581.2,Rx,04F0,8,00,00,1C,00,00,C8,14,00,7.8
186077,600581.4,Rx,043F,8,0F,47,60,FF,55,00,00,00,0.2

In [28]:
def parse_trc_file_with_gap(file_path):
    """
    Parses a .trc file, creates a DataFrame with specified columns, 
    converts Time_Offset to milliseconds, and calculates Time_Gap.

    Args:
        file_path (str): Path to the .trc file.

    Returns:
        pd.DataFrame: Parsed data as a DataFrame with a Time_Gap column.
    """
    # List to store extracted rows
    data = []

    # Open and read the file
    with open(file_path, 'r') as file:
        for line in file:
            # Skip lines that are comments or metadata
            if line.strip().startswith(";") or line.strip() == "":
                continue

            # Split the line into fields, filtering out empty entries
            elements = list(filter(None, line.strip().split(" ")))

            try:
                # Extract required fields based on column positions
                time_offset = float(elements[1]) / 1000  # Convert to milliseconds
                msg_type = elements[2]                 # Direction (Type)
                lin_id = elements[3]                   # LIN_ID (Frame-ID)
                data_length = int(elements[4])         # Data_Length
                data_bytes = elements[5:5 + data_length]  # Data bytes
                checksum = elements[5 + data_length]   # Checksum
                checksum_type = elements[6 + data_length]  # Checksum Type
                error_code = elements[7 + data_length] if len(elements) > 7 + data_length else None  # Error Code

                # Pad data bytes to ensure consistency for columns One to Five and replace missing bytes with None
                data_bytes = data_bytes + [None] * (5 - len(data_bytes))

                # Append the extracted row to the data list
                data.append([
                    time_offset, msg_type, lin_id, data_length,
                    data_bytes[0], data_bytes[1], data_bytes[2],
                    data_bytes[3], data_bytes[4], checksum,
                    checksum_type, error_code
                ])
            except Exception as e:
                print(f"Error parsing line: {line.strip()} | Error: {e}")
                continue

    # Define the column names for the DataFrame
    columns = ["Time_Offset", "Type", "LIN_ID", "Data_Length",
               "One", "Two", "Three", "Four", "Five",
               "Checksum", "Checksum_Type", "Error_Code"]

    # Create the DataFrame
    df = pd.DataFrame(data, columns=columns)

    # Replace any empty strings in the DataFrame with None
    df = df.replace("", None)

    # Calculate Time_Gap as the difference between consecutive Time_Offset values
    df["Time_Gap"] = df["Time_Offset"].diff()

    return df

In [29]:
data_in_lin_normal = "C:/Users/rezan/Arupreza/Yoonji Paper/Yoonji_Final_Data/SCI_dataset/SCI_dataset/LIN/normal/"
data_in_lin_attak = "C:/Users/rezan/Arupreza/Yoonji Paper/Yoonji_Final_Data/SCI_dataset/SCI_dataset/LIN/attack/"

In [32]:
data_in_lin_nor = parse_trc_file(data_in_lin_normal + "LIN_normal_(10min).ltrc")
data_in_lin_nor["Time_Offset"] = data_in_lin_nor["Time_Offset"]/1000
data_in_lin_nor["Time_Gap"] = data_in_lin_nor["Time_Offset"].diff(1)
data_in_lin_nor

,Time_Offset,Type,LIN_ID,Data_Length,One,Two,Three,Four,Five,Checksum,Checksum_Type,Error_Code,Time_Gap
0,21.408,SubAL,00,2,00,FF,None,None,None,7F,EH,None,NaN
1,31.406,SubAL,08,5,08,03,01,08,08,DB,EH,None,9.998
2,91.404,SubAL,03,2,00,FF,None,None,None,FC,EH,None,59.998
3,101.411,SubAL,08,5,07,03,01,02,07,E3,EH,None,10.007
4,161.414,SubAL,00,2,00,FF,None,None,None,7F,EH,None,60.003
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22899,610654.167,SubAL,08,5,07,03,01,02,07,E3,EH,None,10.011
22900,610714.163,SubAL,00,2,00,FF,None,None,None,7F,EH,None,59.996
22901,610724.160,SubAL,01,2,00,FF,None,None,None,3E,EH,None,9.997
22902,610734.164,SubAL,02,2,00,FF,None,None,None,BD,EH,None,10.004
22903,610744.157,SubAL,08,5,0E,03,01,04,0E,D3,EH,None,9.993

In [34]:
data_in_lin_fuzz = parse_trc_file(data_in_lin_attak + "LIN_fuzzing_attack(10min).ltrc")
data_in_lin_fuzz["Time_Offset"] = data_in_lin_fuzz["Time_Offset"]/1000
data_in_lin_fuzz["Time_Gap"] = data_in_lin_fuzz["Time_Offset"].diff(1)
data_in_lin_fuzz

,Time_Offset,Type,LIN_ID,Data_Length,One,Two,Three,Four,Five,Checksum,Checksum_Type,Error_Code,Time_Gap
0,33.770,SubAL,03,2,07,FF,None,None,None,F5,EH,None,NaN
1,43.763,SubAL,08,5,07,03,01,02,07,E3,EH,None,9.993
2,103.766,SubAL,00,2,00,FF,None,None,None,7F,EH,None,60.003
3,113.770,SubAL,01,2,03,FF,None,None,None,3B,EH,None,10.004
4,123.764,SubAL,02,2,00,FF,None,None,None,BD,EH,None,9.994
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22583,601957.059,SubAL,08,0,None,None,None,None,None,00,AU,SR,9.996
22584,601958.839,SubAL,15,0,None,None,None,None,None,00,AU,IS/SR,1.780
22585,602027.063,SubAL,01,4,C2,2B,92,03,None,BA,EH,None,68.224
22586,602037.057,SubAL,02,8,5B,5F,AF,6C,59,96,EH,None,9.994
22587,602047.064,SubAL,08,0,None,None,None,None,None,00,AU,SR,10.007

In [35]:
data_in_lin_rep = parse_trc_file(data_in_lin_attak + "LIN_replay_attack(10min).ltrc")
data_in_lin_rep["Time_Offset"] = data_in_lin_rep["Time_Offset"]/1000
data_in_lin_rep["Time_Gap"] = data_in_lin_rep["Time_Offset"].diff(1)
data_in_lin_rep

,Time_Offset,Type,LIN_ID,Data_Length,One,Two,Three,Four,Five,Checksum,Checksum_Type,Error_Code,Time_Gap
0,20.115,SubAL,00,2,00,FF,None,None,None,7F,EH,None,NaN
1,30.123,SubAL,01,2,03,FF,None,None,None,3B,EH,None,10.008
2,40.113,SubAL,02,2,00,FF,None,None,None,BD,EH,None,9.990
3,50.121,SubAL,08,5,0E,03,01,04,0E,D3,EH,None,10.008
4,110.121,SubAL,01,2,00,FF,None,None,None,3E,EH,None,60.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22531,600773.153,SubAL,08,0,None,None,None,None,None,00,AU,SR,9.993
22532,600774.933,SubAL,15,0,None,None,None,None,None,00,AU,IS/SR,1.780
22533,600673.151,SubAL,02,2,00,FF,None,None,None,BD,EH,None,-101.782
22534,600844.941,SubAL,15,0,None,None,None,None,None,00,AU,IS/SR,171.790
22535,600913.155,SubAL,08,1,02,None,None,None,None,FF,AU,CK,68.214